# Ignore some static files and directories.
/.project
/vendor/
/.gitattributes
/composer.json
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/workreport
!/modules/workreport/*
/themes/*
!/themes/admin_default/css/workreport.css
!/themes/admin_default/js/workreport.js
!/themes/admin_default/images/workreport
!/themes/admin_default/images/workreport/*
!/themes/admin_default/modules/workreport
!/themes/admin_default/modules/workreport/*
!/themes/default/css/workreport.css
!/themes/default/js/workreport.js
!/themes/default/js/workreport_*
!/themes/default/images/workreport
!/themes/default/images/workreport/*
!/themes/default/modules/workreport
!/themes/default/modules/workreport/*
/.settings/
/.buildpath

/themes/admin_default/css/nvtools.css
/themes/admin_default/images/nvtools
/themes/admin_default/images/nvtools/*
/themes/admin_default/modules/nvtools
/themes/admin_default/modules/nvtools/*
/themes/default/css/nvtools.css
/themes/default/images/nvtools
/themes/default/images/nvtools/*
/themes/default/modules/nvtools
/themes/default/modules/nvtools/*
/error.php
